# Environnement virtuel
venv/
env/
.venv/

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Variables d'environnement (NE JAMAIS PUSHER VOS CLES API)
.env
.streamlit/secrets.toml

# Fichiers systeme
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.streamlit/secrets.toml
